__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

.env
.git/
.gitignore

data/raw_documents/*
!data/raw_documents/.gitkeep
data/vector_db/*
!data/vector_db/.gitkeep
data/extracted_images/*
data/app.db

*.log
.DS_Store
Thumbs.db

.github/
README.md
postman/
